.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(59, 70, 73);
  color: rgb(112, 110, 110);
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.leaflet-container {
  margin: 20px;
  width: 50%;
  height: 80vh;
  border-radius: 40px;
}